header,
.project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: darkseagreen;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
}

.layout {
    color: #056605;
    text-align: center;
}

.pagetitle {
    color: blueviolet;
    text-align: center;
}

.group {
    color: blueviolet;
    font-size: 25px;
}

.input {
    box-sizing: 15px;
}

.headername {
    background-color: blueviolet;
    font-size: 23px;
    text-align: center;
    color: cornsilk;
}

.card-body {
    background-color: darkcyan;
    color: rgb(234, 236, 236);
}

.card {
    margin-top: 25px;
    margin-left: 25px;
}